#topbar {
    position:   fixed;
    top:        0px;
    left:       0px;
    width:      100%;
    height:     60px;
    padding:    0px;
    z-index:    2;
}

#base {
    position: fixed;
    bottom:   0px;
    left:     0px;
    width:    100%;
    height:   50px;
    padding:  0px;
    z-index:  2;
}

#midsection {
    position:      absolute;
    left:          200px;
    right:         0px;
    top:           0px;
    bottom:        0px;
    z-index:       0;
}

#left_sidebar {
    position:   fixed;
    left:       0px;
    top:        60px;
    bottom:     50px;
    width:      200px;
    padding:    0px;
    z-index:    1;
}

#header_logo {
    cursor: pointer;
}

#searchBox {
    position: fixed;
    top:      20px;
    right:    70px;
}

#searchBox input {
    width: 120px;
}

#searchBox input:focus {
    width: 220px;
}

#userPic {
    position:      fixed;
    top:           5px;
    right:         10px;
    z-index:       4;
    cursor:        pointer;
    border-radius: 60px;
}

#userMenu {
    display:  none;
    position: fixed;
    top:      0px;
    right:    0px;
    padding:  10px;
    z-index:  3;
    -moz-animation: fadein 0.4s;
}

#userNameDisplay {
    margin-right: 70px;
}

#logOutButton {
    float:      right;
    margin-top: 60px;
}

nav {
    position: fixed;
    top:      0px;
    left:     200px;
    height:   60px;
}

nav a {
    display:        inline-block;
    height:         24px;
    text-align:     center;
    padding-left:   14px;
    padding-right:  14px;
    margin:         0px;
    font-size:      24px;
    padding-top:    14px;
    padding-bottom: 22px;
}

li.listing {
    margin:           0px;
    display:          block;
    width:            100%;
    text-decoration:  none;
    padding:          0px;
    border-top-style: solid;
    border-width:     1px;
    border-color:     #000;
    -moz-animation: subtle_fade_right 0.4s;
}

li.songListing {
    height: 100px;
}

.playing {
    box-shadow:   0px 0px 20px #fff;
    -moz-transform: scale(1.02);
}

img.artwork {
    float:  left;
    width:  100px;
    height: 100px;
}

#progress {
    position:         fixed;
    bottom:           10px;
    left:             132px;
    width:            0px;
    height:           7px;
    border-radius:    5px;
    background-color: #e3e3e3;
}

#progressBG {
    border-style:  solid;
    border-width:  1px;
    position:      fixed;
    bottom:        8px;
    left:          130px;
    right:         70px;
    height:        9px;
    border-radius: 5px;
}

#scrubber {
    border-radius: 20px;
    left:          2px;
    display:       none;
    width:         20px;
    height:        20px;
    position:      fixed;
    bottom:        3px;}

#playPauseButton {
    position: fixed;
    left:     8px;
    bottom:   0px;
}

#pauseButton1 {
    display: none;
}

#pauseButton2 {
    display: none;
}

#currTimeDisplay {
    position:    fixed;
    left:        70px;
    bottom:      6px;
    font-family: monospace;
    font-size:   14px;
    text-shadow: 1px 1px 0px #000;
}

#durationDisplay {
    position:    fixed;
    right:       10px;
    bottom:      6px;
    font-family: monospace;
    font-size:   14px;
    text-shadow: 1px 1px 0px #000;
}

#playerStatus {
    position: fixed;
    bottom:   30px;
    left:     15px;
}

#visualizer {
    position:         fixed;
    background-color: rgba(0, 0, 0, 0.8);
    bottom:           50px;
    left:             0px;
    width:            200px;
    height:           200px;
    border-style-top: solid;
}

#libraryTrackList {
    margin-top:    90px;
    margin-bottom: 50px;
}

#omniBar {
    position: fixed;
    top:      60px;
    left:     200px;
    height:   30px;
    width:    calc(100% - 200px);
    padding:  0px;
    z-index:  2;
}

#pageSwitcher {
    display:     block;
    margin-top:  5px;
    margin-left: 5px;
}

a.pageNum {
    margin-left:   5px;
    border-radius: 20px;
    width:         20px;
    height:        20px;
    text-align:    center;
    display:       inline-block;
}

#newTicketForm {
    display:           none;
    animation:         expand 0.7s;
    -moz-animation:    expand 0.7s;
    -webkit-animation: expand 0.7s;
}

#ticketIssue {
    width:      300px;
    height:     200px;
    margin-top: 10px;
}

.currentPageLink {
    text-decoration: underline;
}

ul.ticketList {
    list-style-type: none;
    margin:          0px;
    padding:         0px;
}

li.ticket {
    list-style-type: none;
    margin-left:     0px;
    margin-right:    0px;
    margin-top:      30px;
    box-shadow:      0px 0px 4px #000;
    padding:         0px;
}

h3.ticketHeader {
    margin:           0px;
    padding:          10px;
}

aside a {
    display:     block;
    font-size:   24px;
    width:       180px;
    padding-top:    8px;
    padding-bottom: 8px;
    padding-left:   12px;
    padding-right:  8px;
    margin:      0px;
}

span.ticketHeaderRight {
    float:       right;
    font-size:   14px;
    font-weight: normal;
}

p.ticketIssue {
    margin-left:  10px;
    margin-right: 10px;
}

#volControls {
    position: fixed;
    right:    0px;
    bottom:   20px;
}

#midSectionInside {
    position:   fixed;
    top:        60px;
    left:       200px;
    right:      0px;
    height:     calc(100% - 150px);
    width:      calc(100% - 240px);
    bottom:     50px;
    padding:    20px;
}

#profileDetailsForm {
    display:   block;
    left:      20px;
    right:     20px;
    top:       140px;
    max-width: 500px;
}

#profileDetailsForm input {
    float: right;
}

#largeUserPic {
}

#nameDisplay {
    text-decoration: underline;
}

#profileSidebar {
    position:          fixed;
    right:             0px;
    top:               60px;
    height:            calc(100% - 150px);
    width:             200px;
    padding:           20px;
    border-width:      1px;
    border-left-style: solid;
}

span.songTitle {
    display:       block;
    font-size:     24px;
    margin:        0px;
    padding:       0px;
}

ul {
    list-style: none;
    padding:    0px;
}

#addToPlaylist {
    position:   fixed;
    width:      200px;
    height:     100px;
    left:       calc(50% - 100px);
    top:        calc(50% - 50px);
    z-index:    20;
    display:    none;
    -moz-animation: expand 0.6s;
}

#overlay {
    position:         fixed;
    top:              0px;
    left:             0px;
    z-index:          10;
    background-color: rgba(0, 0, 0, 0.7);
    width:            100%;
    height:           100%;
    display:          none;
    -moz-animation:   expand 0.4s;
}

#songInfoDisplay {
    position: absolute;
    display:  none;
    left:     70px;
    top:      5px;
    -moz-animation: expand 0.4s;
}

#volIcon {
    width:  24px;
    height: 24px;
}

#visualSelection {
    position: absolute;
    bottom:   10px;
    right:    10px;
}

#songInfoDisplayLarge {
    position:    absolute;
    left:        20px;
    top:         0px;
    font-weight: normal;
    display:     none;
    -moz-animation: fadeRight 0.8s;
}

#songArtLarge {
    position: absolute;
    top:      10px;
    right:    10px;
    width:    200px;
    height:   200px
}
