#customAlert {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    color: red;
    text-shadow: 0px 1px 0px #000;
    -moz-transition: 0.4s;
    top: -50px;
    position: absolute;
    -moz-transform: scale(0.0);
}

input {
    width:         calc(100% - 16px);
    left:          0px;
    right:         0px;
    margin-top:    4px;
    margin-bottom: 4px;
    padding:       8px;
}

#noAccount {
    font-size: 12px;
}

.lButton {
    width:           100%;
    -moz-transition: 0.3s;
}

.lButton:hover {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    -moz-transition: 0.3s;
    text-decoration: underline;
}

#signupButton {
    display: none;
}

#logo {
    width: 100%;
}

/* Only applies to login_failed.jsp */
#loginBox {
    width:             300px;
    margin-left:       auto;
    margin-right:      auto;
    margin-top:        100px;
    padding:           20px;
    box-shadow:        0px 0px 4px #000;
}

.noShake {
    animation:         fadeUp 1s;
    -moz-animation:    fadeUp 1s;
    -webkit-animation: fadeUp 1s;
}

@keyframes fadeUp {
    0% {
        margin-top: 100px;
        opacity: 0.0;
    }
}

@-moz-keyframes fadeUp {
    0% {
        -moz-transform: translateY(40px) scale(0.9);
        opacity: 0.0;
    }
    
    100% {
        -moz-transform: translateY(0px) scale(1.0);
        opacity: 1.0;
    }
}

@-webkit-keyframes fadeUp {
    0% {
        margin-top: 100px;
        opacity: 0.0;
    }
}

@media screen and (max-width: 400px) {
    div.panel {
        position: fixed;
        margin:   0px;
        top:      0px;
        left:     0px;
        width:    100%;
        height:   100%;
        padding:  0px;
    }

    input.text {
        width:  calc(100% - 32px);
        margin: 8px;
    }

    #signupButton {
        display: block;
    }

    #loginButton {
        width:  calc(100% - 16px);
        margin: 8px;
    }

    #cancelButton {
        width:  calc(100% - 16px);
        margin: 8px;
    }

    #noAccount {
        display: none;
    }
}

@media screen and (max-height: 450px) {
    div.panel {
        position: fixed;
        margin:   0px;
        top:      0px;
        left:     0px;
        width:    100%;
        height:   100%;
        padding:  0px;
    }

    input.text {
        width:  calc(100% - 32px);
        margin: 8px;
    }

    #signupButton {
        display: block;
    }

    #loginButton {
        width:  calc(100% - 16px);
        margin: 8px;
    }

    #cancelButton {
        width:  calc(100% - 16px);
        margin: 8px;
    }

    #noAccount {
        display: none;
    }
    
    #logo {
        width: 300px;
    }

}

@media screen and (max-height: 350px) {
    #logo {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    #logo {
        width: 100%;
    }
}
