body {
    color: #e3e3e3;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
	border:           none;
	border-radius:    0px;
	font-size:        12px;
	padding-top:      4px;
	padding-bottom:   4px;
	padding-left:     6px;
	padding-right:    6px;
	background-image: URL("images/button_default.png");
	background-size:  100% 100%;
}

button:hover {
	background-image: URL("images/button_hover.png");
}

button:active {
	background-image: URL("images/button_press.png");
}

input {
    color: #000;
	border:           none;
	font-size:        12px;
	padding-top:      4px;
	padding-bottom:   4px;
	padding-left:     6px;
	padding-right:    6px;
	background-image: URL("images/input_text.png");
	background-size:  100% 100%;
}

input:focus {
	background-image: URL("images/input_text_focused.png");
}

.panel {
	background-color: rgba(0, 0, 0, 0.7);
}

#wallpaper {
    background-image: URL("images/wallpaper_dark.jpg");
    background-size:  100% 100%;
}
