/* The general Look and Feel of sWave is determined by the skin file selected 
   from macgril/css/skins/ NOT this file */

body {
    background-color: #000;
    font-family:      sans-serif;
    color:            #2E84B1;
}

header {
    position:         fixed;
    top:              0%;
    left:             0%;
    right:            0%;
    height:           60px;
    background-image: URL("images/bg.png");
    background-size:  100% 100%;
    box-shadow:       0px 0px 20px #000;
}

aside {
    position:         fixed;
    top:              60px;
    bottom:           70px;
    left:             0px;
    width:            200px;
    background-color: rgba(0,0,0,0.7);
}

section {
    position:         fixed;
    top:              60px;
    bottom:           70px;
    left:             200px;
    right:            0px;
    background-color: transparent;
    /*box-shadow:       inset 0px 0px 10px;*/
    padding:          0px;
    overflow-x:       hidden;
    overflow-y:       scroll;
}

footer {
    position:         fixed;
    bottom:           0px;
    left:             0px;
    right:            0px;
    height:           70px;
    background-image: URL("images/bg.png");
    background-size:  100% 100%;
    box-shadow:       0px 0px 20px #000;
}

#logo {
    height:   60px;
    position: fixed;
    top:      0px;
    left:     0px;
}

/*
#searchBox {
    background-color: #e3e3e3;
    color:            #000;
    border:           0px;
    width:            150px;
    position:         absolute;
    top:              25%;
    height:           20px;
    bottom:           25%;
    right:            2%;
    padding-top:      4px;
    padding-bottom:   4px;
    padding-left:     8px;
    padding-right:    8px;
}
*/

li {
    left:            0%;
    right:           0%;
    text-decoration: none;
    display:         block;
    color:           #000;
    font-size:       16px;
    padding-top:     10px;
    padding-bottom:  10px;
    margin:          0px;
}

li.sec {
    background-color: #1F1D26;
    color: #e3e3e3;
}

li img {
    margin:     0px;
    height:     38px;
    width:      38px;
    position:   absolute;
    margin-top: -10px;
}

li span {
    margin-left: 60px;
}

ul {
    position: absolute;
    padding: 0px;
    left:0px;
    right:0px;
    margin: 0px;
    z-index: -1;
}

button {
    float: right;
    margin-right: 10px;
    background-image: URL("images/button_default.png");
    background-size:  100% 100%;
    background-color: transparent;
    border: none;
    color: #e3e3e3;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px;
}

h2 {
    margin-left: 10px;
}


table {
    width:   100%;
    margin:  0px;
    padding: 0px;
    border:  none;
}

tr {
    text-shadow: 0px 0px 4px;
    margin: 0px;
    border: none;
    background-image: URL("images/bg.png");
    background-size:  100% 100%;
}

tr.sec {
    
}

td {
    margin:  0px;
    margin:  0px;
    border:  none;
    padding: 0px;
}

td.move {
    height: 40px;
    width:  18px;
    cursor: grab;
}

td.move img {
    display: block;
    height:  100%;
    width:   100%;
}

td.art {
    width:  40px;
    height: 40px;
}

td.art img {
    display: block;
    height:  100%;
    width:   100%;
}

td.trackTitle {
    padding-left:  10px;
    padding-right: 10px;
    max-width:     400px;
}

td.albumName {
    width: auto;
}

td.artistName {
    width: auto;
}

td.buyButton {
    width:      50px;
    text-align: center;
}

td.playButton {
    width:      50px;
    text-align: center;
}

td.spacer {
    width: auto;
}

#wallpaper {
    position: fixed;
    width:    100%;
    height:   100%;
    top:      0px;
    left:     0px;
    z-index:  -2;
}

#loginForm {
    color:            #e3e3e3;
    position:         fixed;
    bottom:           100px;
    left:             100px;
    padding:          20px;
    background-color: rgba(31, 29, 38, 0.8);
    box-shadow:       0px 0px 10px #000;
    animation:        fadeRight 1s;
    -moz-animation:   fadeRight 1s;
    -webkit-animation:fadeRight 1s;
}

#regForm {
    color:            #e3e3e3;
    position:         fixed;
    bottom:           100px;
    left:             100px;
    padding:          20px;
    background-color: rgba(31, 29, 38, 0.8);
    box-shadow:       0px 0px 10px #000;
    animation:        fadeRight 1s;
    -moz-animation:   fadeRight 1s;
    -webkit-animation:fadeRight 1s;
}

#loginForm input {
    width: 100%;
}

#overlay_logo {
    position: fixed;
    bottom:   10px;
    right:    10px;
}

input {
    background-color: #fff;
    color:            #000;
    font-size:        14px;
    border:           none;
    margin-top:       5px;
    padding:          5px;
    border-radius:    2px;
}

h1 {
    color: #e3e3e3;
}

header a {
    float: right;
    margin-left: 10px;
    margin-top:  15px;
}

header input {
    float: right;
    margin-left:  10px;
    margin-top:   15px;
    margin-right: 10px;
}

#fopen {
    display: none;
}

@keyframes fadeRight {
    0% {
        left:    0px;
        opacity: 0.0;
    }
}

@-moz-keyframes fadeRight {
    0% {
        left:    0px;
        opacity: 0.0;
    }
}

@-webkit-keyframes fadeRight {
    0% {
        left:    0px;
        opacity: 0.0;
    }
}

#progress		{
    -moz-animation: glow 3s; -moz-animation-iteration-count: infinite; -moz-transition:0.5s;
    position:fixed; box-shadow: 0px 0px 10px; bottom:9px; left:12px; width:0px; height:7px; border-radius:5px; background-image:URL("images/progress.png"); background-size: 100% 100%; background-color:#2E84B1;}
#progressBG		{border-style:inset; box-shadow: 0px 0px 3px #000; border-width:1px; position:fixed; bottom:7px; left:10px; right:10px; height:9px; border-radius:5px;  background-image:URL("images/progress_bg.png"); background-size: 100% 100%;}
#scrubber		{border-radius:20px; left:2px; box-shadow:0px 0px 10px #000; width:20px; height:20px; position:fixed; bottom:3px; -moz-transform:scale(0.0); -moz-transition:0.4s;}

#controls {
    margin-left:  auto;
    margin-right: auto;
    width:        200px;
    display:      block;
    margin-top:   5px;
}

#controls img {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #000;
    cursor: pointer;
}

#trackTimer {
    text-shadow: 0px 0px 4px;
    position:    fixed;
    bottom:      25px;
    right:       15px;
}

#playerStatus {
    text-shadow: 0px 0px 4px;
    position:    fixed;
    bottom:      25px;
    left:        15px;
}

#visualizer {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    bottom: 70px;
    left: 0px;
    width: 200px;
    height: 200px;
}

@-moz-keyframes glow {
    0% {
        box-shadow: 0px 0px 3px;
    }
    
    50% {
        box-shadow: 0px 0px 10px;
    }
    
    100% {
        box-shadow: 0px 0px 3px;
    }
}