/*Skin specific overrides for base.css*/

body {
    background-color: rgba(0, 0, 0, 0.9);
}

#visualizer {
    background-color: transparent;
}

aside a:hover {
    background-color: rgba(49, 146, 153, 0.1);
}

.currentPageLink {
    background-color: rgba(49, 146, 153, 0.2);
}

a.currentPageNum {
    background-color: rgba(49, 146, 153, 0.1);
}

#midSectionInside {
    background-color: rgba(0, 0, 0, 0.9);
}

nav a:hover {
    background-color: rgba(49, 146, 153, 0.1);
}

.listingEven {
    background-color: rgba(49, 146, 153, 0.1);
}

#profileSidebar {
    border-color:     #000;
    background-color: transparent;
}

.largeVisualizer {
    background-color: rgba(0, 0, 0, 0.7);
}

button.danger {
    background-color: rgba(227, 25, 44, 0.3);
}

input.danger {
    background-color: rgba(227, 25, 44, 0.3);
}
