@font-face {
    font-family: regularRaleway;
    src: local(regularRaleway), URL("fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: lighterRaleway;
    src: local(lighterRaleway), URL("fonts/Raleway-Light.ttf") format("truetype");
}

body {
    color: #e3e3e3;
    font-family: regularRaleway, lighterRaleway, sans-serif;
}

a {
    color:           #e3e3e3;
    font-family:     lighterRaleway;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    outline:          none;
    border:           none;
    border-radius:    3px;
    font-size:        12px;
    padding-top:      4px;
    padding-bottom:   4px;
    padding-left:     6px;
    padding-right:    6px;
    color:            #e3e3e3;
    background-color: rgba(49, 146, 153, 0.1);
}

textarea {
    font:             regularRaleway;
    font-size:        12px;
    padding:          10px;
    border:           none;
    outline:          none;
    color:            #e3e3e3;
    background-color: rgba(49, 146, 153, 0.1);
}

input {
    outline: none;
}

input.number {
    appearance:       none;
    -moz-appearance:  none;
    border:           none;
    outline:          none;
    width:            50px;
    color:            #e3e3e3;
    background-color: rgba(49, 146, 153, 0.1);
}

input.button {
    border:           none;
    border-radius:    0px;
    font-size:        12px;
    padding-top:      4px;
    padding-bottom:   4px;
    padding-left:     6px;
    padding-right:    6px;
    color:            #e3e3e3;
    background-color: rgba(49, 146, 153, 0.1);
}

input.text {
    color: #e3e3e3;
    background-color: rgba(49, 146, 153, 0.1);
    border: none;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    -moz-transition: 0.4s;
}

input.text:focus {
    background-color: rgba(49, 146, 153, 0.2);
    -moz-transition: 0.4s;
}

select {
    color:            #e3e3e3;
    background-color: rgba(49, 146, 153, 0.1);
    border:           none;
    font-size:        12px;
    padding-top:      4px;
    padding-bottom:   4px;
    padding-left:     6px;
    padding-right:    6px;
    -moz-transition:  0.4s;
}

input.slider {
    appearance:      none;
    -moz-appearance: none;
}

progress {
    outline:         none;
    appearance:      none;
    -moz-appearance: none;
}

-moz-progress-bar {
    background-color: pink;
}

.panel {
    color: #e3e3e3;
    background-color: rgba(0, 0, 0, 0.9);
}

.panel a {
    color: #e3e3e3;
}

#wallpaper {
    position:         fixed;
    top:              0px;
    left:             0px;
    width:            100%;
    height:           100%;
    z-index:          -1;
    background-image: URL("images/wallpaper.jpg");
    background-size:  100% 100%;
}

.iconText {
    fill: #e3e3e3;
    font-family: lighterRaleway;
    font-weight: lighter;
}

.iconCircleStroked {
    stroke-width: 4;
    stroke: #e3e3e3;
    fill:   none;
}

.iconCircleFilled {
    stroke: none;
    fill:   #e3e3e3;
}

.iconPolyFilled {
    stroke: none;
    fill:   #e3e3e3;
}

.iconRectFilled {
    stroke: none;
    fill:   #e3e3e3;
}
